<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Servlet configration -->
  <!-- 
  	load-on-startup元素标记容器是否在启动的时候就加载这个servlet(实例化并调用其init()方法)。

	它的值必须是一个整数，表示servlet应该被载入的顺序

	当值为0或者大于0时，表示容器在应用启动时就加载并初始化这个servlet；

	当值小于0或者没有指定时，则表示容器在该servlet被选择时才会去加载。

	正数的值越小，该servlet的优先级越高，应用启动时就越先加载。

	当值相同时，容器就会自己选择顺序来加载。

	所以，<load-on-startup>x</load-on-startup>，中x的取值1，2，3，4，5代表的是优先级，而非启动延迟时间
   -->
  <servlet>
    <servlet-name>FristServlet</servlet-name>
    <servlet-class>lion.home.TestServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

<servlet-mapping>
    <servlet-name>FristServlet</servlet-name>
    <url-pattern>/fristservlet</url-pattern>
  </servlet-mapping>
</web-app>
